

.episodeContainer {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    margin-bottom: 20px;
}

.btnContainer {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    margin-bottom: 20px;
}

.btnContainer > button {
    width: 100px;
    padding: 10px 0;
    font-size: 20px;
}
.btnContainer > button:hover {
    cursor: pointer;
}