.post-card {
    width: 300px;
    height: 250px;
    box-sizing: border-box;
    text-align: center;
    background: rgba(143, 188, 143, 0.5);
    border: 2px solid darkseagreen;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
    transform: rotateX(0grad);
    overflow: hidden;
}

.post-card:hover {
    transition: .5s;
    transform: rotateX(20grad);
}

.post-card > * {
    margin: 0;
    padding: 10px 5px 0;
}