.App {
    background: lightblue;
    margin: 0;
    padding: 30px;

    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 50px;
    row-gap: 50px;
}

.bottom > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 20px;
}

.top-item{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 20px;
}
